@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color : rgb(235, 231, 228);
    --end-bg-color : white;
    --text-color : rgb(66, 66, 66);
    --main-color : rgb(214, 5, 15);
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3.2rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
   color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content {
    order: 2;
}

.home-img img {
    margin: 4rem;
    width: auto;
    height: 35vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 2rem;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.8rem;
    margin-right: 10rem;
}

.sosial-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.sosial-media a:hover {
    background: var(--main-color);
    color: var(--end-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5rem ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--end-bg-color);
}

.about-img img {
    width: auto;
    height: 25vw;
    border-radius: 2rem;
}

.heading {
    margin-bottom: 7rem;
    text-align: center;
    font-size: 4.5rem;
}

.about-content {
    text-align: left;
    line-height: 1.2;
    margin-left: 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.9rem;
    margin: 2rem 0 3rem;
}

.card {
    transform-style: preserve-3d;
    transition: 1s ease;
 }
 
 .card_front {
    position: absolute;
    backface-visibility: hidden;
 }
 
 .card_front {
    z-index: 1;
 }
 .card:hover {
    transform: rotateY(180deg);
 }


 .skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.skill-content {
    
    text-align: left;
    line-height: 1.2;
    margin-left: 2rem;
}

.skill-content h3 {
    font-size: 2.3rem;
    margin-top: 3rem;
}

.skill-content p {
    font-size: 1.2rem;
    margin: 2rem 0 3rem;
}
 .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--end-bg-color);
 }

 .footer-text {
    font-size: 1.6rem;
 }

 .footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
 }

 .footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
 }

 .footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--end-bg-color); 
 }

 @media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
 }

 @media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }
    
    section{
        padding: 10rem 3%;
    }

    .about {
        padding: 7rem;
    }
    
    .skill {
        padding: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
 }

 @media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: var(--end-bg-color);
        box-shadow: 0 .5rem 1rem var(--end-bg-color);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        height: 38vw;
        width: auto;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column;
    }
    .about-img img {
        height: 50vw;
        width: auto;
        margin-top: 4rem;
    }
    .skill h2 {
        margin-bottom: 3rem;
    }
 }
 @media (max-width: 617px) {
    .home-img img {
        height: 38vw;
        width: auto;
        margin-top: 4rem;
    }
    .home-content p {
        font-size: 1.1rem;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h1 {
        font-size: 2.6rem;
    }

    .about-img img {
        height: 40vw;
        width: auto;
        margin-top: 4rem;
    }

    .about-content h2{
        font-size: 2.6rem;
    }

    .about-content h3 {
        font-size: 1.5rem;
    }
    .about-content p {
        font-size: 1.2rem;
    }

    .skill-content h2{
        font-size: 2.6rem;
    }

    .skill-content h3 {
        font-size: 1.5rem;
    }
    .skill-content p {
        font-size: 1.2rem;
    }
 }

 @media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .home-img img {
        height: 48vw;
        width: auto;
    }

    .about-img img {
        height: 48vw;
        width: auto;
    }

    .home-content p {
        font-size: 1.6rem;
    }
    .home-content h3 {
        font-size: 2.1rem;
    }
    .home-content h1 {
        font-size: 3rem;
    }
    .about-content p {
        font-size: 1.6rem;
        margin-top: -.1rem;
    }
    .about-content h3 {
        font-size: 2.1rem;
        line-height: 2.2;
    }
    .about-content h2 {
        font-size: 2.8rem;
    }
    .skill-content h3 {
        font-size: 2rem;
    }
    .skill-content p {
        font-size: 1.2rem;
    }
 }